@model ClassLibrary.Models.DashboardViewModel

@using System.Web.UI.WebControls;

<script src="~/Scripts/CustomDashboard/DeleteExtension.js"></script>
<script src="~/Scripts/CustomDashboard/SaveAsExtension.js"></script>

@*<div class="card card-default">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">*@
 
                    <div id="#Dashboard" style=" position:absolute;left:18%;   right: 6px; top:8%; bottom:0;">

                        @Html.DevExpress().Dashboard(settings =>
                    {
                        settings.Name = Model.DashboardId;
                        settings.Width = Unit.Percentage(100);
                        settings.Height = Unit.Percentage(100);
                        settings.EnableSqlDataSource = true;
                        settings.WorkingMode = DevExpress.DashboardWeb.WorkingMode.ViewerOnly;
                        settings.InitialDashboardId = Model.DashboardId;
                    }).GetHtml()
                    </div>
              

            @*</div>
        </div>
    </div>
</div>*@