@model ClassLibrary.Models.DashboardViewModel

@using System.Web.UI.WebControls;

<script src="~/Scripts/CustomDashboard/DeleteExtension.js"></script>
<script src="~/Scripts/CustomDashboard/SaveAsExtension.js"></script>

<div id="#Dashboard" style="position: absolute; left: 7%; right: 0; top:8%; bottom:0;">

    @Html.DevExpress().Dashboard(settings =>
{
    settings.Name = Model.DashboardId;
    settings.Width = Unit.Percentage(100);
    settings.Height = Unit.Percentage(100);
    settings.EnableSqlDataSource = true;
    settings.WorkingMode = DevExpress.DashboardWeb.WorkingMode.ViewerOnly;
    settings.InitialDashboardId = Model.DashboardId;
}).GetHtml()
</div>

