/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}


.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


.dl-horizontal dt {
    white-space: normal;
}*/

input,
select,
textarea {
    max-width: 280px;
}

.field-validation-error {
    color: red;
}

.input-validation-error {
    border: 1px solid red;
}

.form-control text-box single-line {
    border: 1px solid red;
}
.form-control {
    max-width: 100%;
}
.ui-datepicker table {
    z-index: 2000 !important;
}