@using ClassLibrary.Models
@model IEnumerable<V_SFD>

@{
    ViewBag.Title = "SFD";
    Layout = "~/Views/Shared/_LayoutPageNew.cshtml";
}



<section class="content" style="min-height:0px !important">




    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3 id="dashEqp"></h3>
                        <p>Total Equipments</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-cog"></i>
                    </div>

                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-blue">
                    <div class="inner" >
                        <h3 id="dashMan"></h3>
                        <p>Manufacturers</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-industry"></i>
                    </div>

                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3 id="dashCountries"></h3>
                        <p>Countries</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-map"></i>
                    </div>

                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner" >
                        <h3 id="dashSites"></h3>
                        <p>Sites</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-ship"></i>
                    </div>

                </div>
            </div>

        </div>

        <div class="row">

        </div>
    </div>

</section>



<div id="gridSFD">

    @(Html.DevExtreme().DataGrid<V_SFD>()
    .ID("gridContainer")
    .DataSource(Model)

    .ShowColumnHeaders(true)
    .ShowColumnLines(true)
    .ShowRowLines(true)
                            .ShowBorders(true)


                            .Sorting(sorting => sorting.Mode(GridSortingMode.Multiple))
                            .Paging(p => p.PageSize(10))
                            .ColumnChooser(c => c.Enabled(true))
                            .LoadPanel(p => p.Enabled(true))

                            .FilterRow(filterRow => filterRow
                            .Visible(true)
                            .ApplyFilter(GridApplyFilterMode.Auto)
                            )

                            .SearchPanel(searchPanel => searchPanel
                            .Visible(true)
                            .Width(480)
                            .Placeholder("Search Equipments ...")
                            .SearchVisibleColumnsOnly(false)
                            )

                            .HeaderFilter(headerFilter => headerFilter.Visible(true))

                            .GroupPanel(g => g.Visible(true))
                            .Grouping(g => g.AutoExpandAll(false))
                            .Selection(s => s.Mode(SelectionMode.Single))

                            // START COLUMN SECTION
                            .ColumnHidingEnabled(true)
                            .ColumnChooser(c => c
                                .Enabled(true)
                                .Mode(GridColumnChooserMode.Select))


    .Columns(columns =>
    {

        columns.AddFor(m => m.SiteId)
            .Caption("SHIP ID")
            .Width(50);

        columns.AddFor(m => m.Name)
            .Caption("SHIP NAME");

        columns.AddFor(m => m.ESWBS)
            .Caption("ESWBS");


        columns.AddFor(m => m.Nomanclature)
            .Caption("ESWBS NAME");

        columns.AddFor(m => m.PART_NAME)
            .Caption("EQUIPMENT NAME");

        columns.AddFor(m => m.CageName)
            .Caption("MANUFACTURER");


        columns.AddFor(m => m.Country)
            .Caption("COUNTRY");


        columns.AddFor(m => m.PMS_No)
            .Caption("PMS NO");

        columns.AddFor(m => m.Model)
            .Caption("Model");
    })
)
    @*@(Html.DevExtreme().DataGrid<ClassLibrary.Models.V_SFD>()
            .ID("gridContainer")
            .ShowBorders(true)
            .Sorting(sorting => sorting.Mode(GridSortingMode.Multiple))
            .Columns(columns =>
            {
                //columns.AddFor(m => m.Name)
                //    .Caption("SHIP NAME")
                //    .Fixed(true);

                columns.AddFor(m => m.ESWBS)
                    .Caption("ESWBS");


                //columns.AddFor(m => m.Nomanclature)
                //    .Caption("ESWBS NAME");

                //columns.AddFor(m => m.PART_NAME)
                //    .Caption("EQUIPMENT NAME");

                //columns.AddFor(m => m.CageName)
                //    .Caption("MANUFACTURER");


                //columns.AddFor(m => m.Country)
                //    .Caption("COUNTRY");


                //columns.AddFor(m => m.PMS_No)
                //    .Caption("PMS NO");

                //columns.AddFor(m => m.Model)
                //    .Caption("Model");

            })
            .DataSource(d => d.Mvc().Controller("Config").LoadAction("GetSFD") )

        )*@
</div>


<script>
    $(document).ready(function () {
        var model = @Html.Raw(Json.Encode(Model));
        console.log("model", model);

        var country = model.map(function (obj) {
            return obj.Country;
        });
        
        var cage = model.map(function (obj) {
            return obj.CageId;
        });
        
        var eqp = model.map(function (obj) {
            return obj.PartId;
        });
        
        var site = model.map(function (obj) {
            return obj.SiteId;
        });
             
        document.getElementById('dashEqp').innerText = countUnique(eqp);
        document.getElementById('dashMan').innerText = countUnique(cage);
        document.getElementById('dashCountries').innerText = countUnique(country);
        document.getElementById('dashSites').innerText = countUnique(site);
    });

    function countUnique(iterable) {
        return new Set(iterable).size;
    }


    

    
</script>
