<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="WebAppDbContext" connectionString="metadata=res://*/Models.CMMS_Model.csdl|res://*/Models.CMMS_Model.ssdl|res://*/Models.CMMS_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PNSD-SWUSER10;initial catalog=db_CMMS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities" connectionString="metadata=res://*/Models.CMMS_Model.csdl|res://*/Models.CMMS_Model.ssdl|res://*/Models.CMMS_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-DCTEGOR\SQLEXPRESS;initial catalog=db_CMMS;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>