<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CMMS</title>
    <link href="~/Content/LoginPage/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Content/LoginPage/jquery-3.3.1.slim.min.js"></script>
    <script src="~/Content/LoginPage/bootstrap.bundle.min.js"></script>
    <link href="~/Content/LoginPage/font-awesome.min.css" rel="stylesheet" />

</head>
<body>

    @*<div class="container-fluid body-content">*@

    @RenderBody()

    @*<footer>
            <div class="col-lg-12" style="color: white;padding-top:10px;position:fixed;bottom:0px;background-color: black;">
                <p align="center"><strong>Designed & Developed by <a>PN Software Department</a>.</strong> All rights reserved.</p>
            </div>
        </footer>*@


    @*</div>*@

    @RenderSection("scripts", required: false)
</body>
</html>