<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CMMS</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />

    <script src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")"></script>

</head>
<body>
   
    <div class="container-fluid body-content">
        <div>
            @RenderBody()
        </div>
        <footer>
            <div class="col-lg-12" style="color: white;padding-top:10px;position:fixed;bottom:0px;background-color: black;">
                <p align="center"><strong>Designed & Developed by <a>PN Software Department</a>.</strong> All rights reserved.</p>
            </div>
        </footer>


    </div>

    @RenderSection("scripts", required: false)
</body>
</html>