<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CMMS</title>
    <link href="~/Content/LoginTheme/assets/js/plugins/bootsnav_files/skins/color.css" rel="stylesheet">

    <link href="~/Content/LoginTheme/assets/js/plugins/bootsnav_files/css/animate.css" rel="stylesheet">

    <link href="~/Content/LoginTheme/assets/js/plugins/bootsnav_files/css/bootsnav.css" rel="stylesheet">

    <link href="~/Content/LoginTheme/assets/js/plugins/bootsnav_files/css/overwrite.css" rel="stylesheet">

    <link href="~/Content/LoginTheme/assets/js/plugins/owl-carousel/owl.carousel.css" rel="stylesheet">

    <link href="~/Content/LoginTheme/assets/js/plugins/owl-carousel/owl.theme.css" rel="stylesheet">

    <link href="~/Content/LoginTheme/assets/js/plugins/owl-carousel/owl.transitions.css" rel="stylesheet">

    <link href="~/Content/LoginTheme/assets/js/plugins/Magnific-Popup-master/Magnific-Popup-master/dist/magnific-popup.css" rel="stylesheet">

    <!--// ICONS //-->

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--// BOOTSTRAP & Main //-->

    <link href="~/Content/LoginTheme/assets/bootstrap-3.3.7/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="~/Content/LoginTheme/assets/css/main.css" rel="stylesheet">


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>*@
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <script src="~/Content/LoginTheme/assets/bootstrap-3.3.7/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

    <script src="~/Content/LoginTheme/assets/js/plugins/owl-carousel/owl.carousel.min.js"></script>

    <script src="~/Content/LoginTheme/assets/js/plugins/bootsnav_files/js/bootsnav.js"></script>

    <script src="~/Content/LoginTheme/assets/js/plugins/typed.js-master/typed.js-master/dist/typed.min.js"></script>


    <script src="~/Content/LoginTheme/assets/js/plugins/Magnific-Popup-master/Magnific-Popup-master/dist/jquery.magnific-popup.js"></script>

    <script src="~/Content/LoginTheme/assets/js/main.js"></script>



</head>
<body>

    @*<div class="container-fluid body-content">*@

    @RenderBody()

    @*<footer>
            <div class="col-lg-12" style="color: white;padding-top:10px;position:fixed;bottom:0px;background-color: black;">
                <p align="center"><strong>Designed & Developed by <a>PN Software Department</a>.</strong> All rights reserved.</p>
            </div>
        </footer>*@


    @*</div>*@

    @RenderSection("scripts", required: false)
</body>
</html>