@model ClassLibrary.Models.UserDashboardMapping
@using System.Web.UI.WebControls;
@{ 
    bool disableServerControl = false;

    if(Model.IsDefault == "1")
    {
        disableServerControl = true;
    }
}
<script src="~/Scripts/CustomDashboard/DeleteExtension.js"></script>
<script src="~/Scripts/CustomDashboard/SaveAsExtension.js"></script>


<script type="text/html" id="dx-save-as-form">
    <div>Dashboard Name:</div>
    <div style="margin: 10px 0" data-bind="dxTextBox: { value: newName }"></div>
    <div data-bind="dxButton: { text: 'Save', onClick: saveAs  }"></div>

</script>


<div id="#Dashboard" style="position: absolute; left: 7%; right: 0; top:8%; bottom:0;">

@Html.DevExpress().Button(settings =>
{
    settings.Name = "SwitchWorkingModesButton";
    settings.Text = "Switch to Designer";
    settings.UseSubmitBehavior = true;
    settings.ClientSideEvents.Click = "function(s, e) { switchWorkingModes(s, e); }";
}).GetHtml()



@Html.DevExpress().Dashboard(settings =>
{
    settings.Name = "Dashboard";
    settings.Width = Unit.Percentage(100);
    settings.Height = Unit.Percentage(100);
    settings.EnableSqlDataSource = true;
    settings.ClientSideEvents.BeforeRender = "function(s, e) { customizeMenu(s, e); }";
    settings.WorkingMode = DevExpress.DashboardWeb.WorkingMode.Viewer;
    settings.InitialDashboardId = Model.DashboardId;

}).GetHtml()
</div>

<script>

    function switchWorkingModes(s, e) {
        var workingMode = Dashboard.GetWorkingMode();
        if (workingMode == 'designer') {
            Dashboard.SwitchToViewer();
            SwitchWorkingModesButton.SetText('Switch to Designer');
        }
        else {
            Dashboard.SwitchToDesigner();
            SwitchWorkingModesButton.SetText('Switch to Viewer');
        }
    }


    function customizeMenu(s, e) {

        var control = s.GetDashboardControl();
 
        if (!@Html.Encode(disableServerControl).ToLower()) {
            control.registerExtension(new DeleteDashboardExtension(s));
        }  
        control.registerExtension(new SaveAsDashboardExtension(control, '@Model.UserId', '@Model.RoleId'));

        control.unregisterExtension("create-dashboard");
        control.unregisterExtension("available-data-sources");
        control.unregisterExtension("data-source-wizard");
        control.unregisterExtension("open-dashboard");
    }


</script>

